.container {
  width: 1200px;
  margin: 0 auto;
  clear: both;
}

.left-grid {
  float: left;
  width: 50%;
  margin: 0;
  display: inline-block;
}

.right-grid {
  float: right;
  width: 50%;
  display: inline-block;
}

