<!DOCTYPE html>
{% extends "layout.html" %}
{% block body %}
<div id="flash-messages">
</div>
<form method="POST" id="shorten-form" onsubmit="return false;">
  <div class="form-group">
    <label>URL:</label>
    <input class="url-box" type="text" name="url" placeholder="http://www.google.com"><br>
  </div>
  <div class="form-group">
    <div id="personal-short"><a id="personal-a" href="">Want to name your own short URL?</a></div>
  </div>
  <br>
  <div class="form-group">
    <input type="submit" class="btn btn-primary btn-sm" value="scribble">
  </div>
</form>

<br>
<br>
<div id="output-url">
</div>
<br>
<br>

<!-- SCRIPTS -->
<script>
  var protocol = "http://"
  var host = window.location.host
  var pathname = window.location.pathname.split("/").slice(0,3).join('/');
  var basePath = protocol + host + pathname;

  if (host != "people.ischool.berkeley.edu") {
    basePath = protocol + host;
  }

  $(document).ready(function() {
    {% if get_flashed_messages() %}
      var text = "<div id='flash' class='alert alert-info' style='display: none;'>";
      {% for message in get_flashed_messages() %}
        text = text + "<p>" + "{{ message }}" + "</p>"
      {% endfor %}
      text += "</div>"
      $("#flash-messages").html(text);
      $("#flash").fadeIn();
    {% endif %}
  })

  $('#personal-short').click(function() {
    if (this.innerHTML.indexOf("personal-a") > -1) {
      $('#personal-short').fadeOut(function() {
        $('#personal-short').html("<input type='text' name='s-url' class='url-box' style='display:hidden;' placeholder='aXd4E4'><div><b>6 alphanumeric characters only please!</b></div><div>If your long URL already has a short, we won't generate a new one.</div>");
        $('#personal-short').fadeIn();
      });
      return false;
    }
  });

  $("#shorten-form").submit(function(event) {
    event.preventDefault();

    var values = $(this).serializeArray();
    var url = values[0]["value"];
    var s_url = "";

    if (values.length > 1) {
      s_url = values[1]["value"];
    }
    if (url == "") {
      var text = "<div id='flash' class='alert alert-info' style='display: none;'>";
      text += "Please fill in a valid URL to be scribbled.";
      text += "</div>";
      $("#flash-messages").html(text);
      $("#flash").fadeIn();
    } else if (s_url.length != 0 && s_url.length != 6) {
      var text = "<div id='flash' class='alert alert-info' style='display: none;'>";
      text += "Please fill in a valid short URL to use, or leave the field empty.";
      text += "</div>";
      $("#flash-messages").html(text);
      $("#flash").fadeIn();      
    } else {
      $.post(basePath + "/shorts", { url: url, s_input: s_url }, function(data) {
        display_url(data['s_url'], data['errors']);
      });
    }
  })

  function display_url(s_url, errors) {
    close("#flash-messages");
    var text = "<div id='output' class='alert alert-info' style='display: none;'>"
    if (errors > 0) {
      text += "<p>Your short code was already taken - we've generated a new one for you.</p>"
    }
    text += "<p>Your shortened URL is: ";
    text += "<a target='_blank' href='"
    text += basePath
    text += "/short/";
    text += s_url.toString();
    text += "'>scribble.ly/";
    text += s_url.toString();
    text += "</a></p>";
    text += "<p>The shortcode slug is: <pre>";
    text += s_url.toString();
    text += "</pre></p>";
    text += "</div>";
    $("#output-url").html(text);
    $("#output").fadeIn();
  }

  function close(element) {
    $(element).html("");
  }
</script>
{% endblock %}
