<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <title>scribble.ly - {{ title }}</title>

    <!-- FONTS -->
    <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>

    <link rel="icon" type="image/png" href="{{ config.APPLICATION_ROOT + 'static/image/favicon.png' }}">

    <!-- STYLESHEETS -->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/rickshaw/1.4.6/rickshaw.min.css">
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/c3/0.3.0/c3.min.css">
    <link rel="stylesheet" type="text/css" href="{{ config.APPLICATION_ROOT + 'static/css/custom.css' }}">

    <!-- OTHER -->
    <script type="text/javascript" src="{{ config.APPLICATION_ROOT + 'static/js/jquery-1.11.1.min.js' }}"></script>
    <script type="text/javascript" src="{{ config.APPLICATION_ROOT + 'static/js/underscore-min.js' }}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/rickshaw/1.4.6/rickshaw.min.js"></script>
  </head>

  <body>
    <div class="container">
      <div class="home-wrap-push">
        
        <nav class="navbar navbar-default" role="navigation">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
            
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/analytics">Analytics</a></li>
                <li><a href="#">Placeholder</a></li>
                <li><a href="#">Placeholder</a></li>
              </ul>
            </div>
          </div>
        </nav>
        <h1><a href="{{ config['APPLICATION_ROOT'] }}">scribble.ly</a></h1>
        <br>
      </div>
      {% block body %}{% endblock %}

      <div class="home-wrap">
        <footer class="footer">
          <p><a href="#">About</a> | 
            <a href="#">Contact</a> | 
            <a href="#">Privacy Policy</a></p>
          <p>&copy; 2014 Kevin Kao.<br>
          Built with Python, Flask, and a little bit of motivation.</p>
        </footer>
      </div>
    </div>
  </body>
</html>
